body {
  font-family: sans-serif;
}

.clear {
  clear: both;
}

h1 {
  font-weight: bold;
  font-size: 70pt;
}

h1 .small {
  font-size: 12pt;
}

h2 {
  font-weight: bold;
  font-size: 20pt;
}

#wrapper {
  width: 1024px;
  margin: 0 auto;
}

.header {
  width: 600px;
  text-align: center;
  margin: 30px auto;
}

.footer {
  text-align: center;
  width: 300px;
  border-top: 1px solid #CCC;
  margin: 50px auto 0 auto;
  padding-top: 20px;
}

.outlineProperties {
  width: 500px;
  margin: 0 auto;
}

.outlineProperties .property {
  clear: both;
}

.editorCanvasWrapper {
  width: 480px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#loadingDiv {
  text-align: center;
}

#loadingDiv .textWrapper {
  margin-top: 50px;
}

.loadingDivDialog .ui-dialog-titlebar {
  display: none;
}

#saveLevel {
  margin-top: 20px;
}

#editorCanvas {
  background: white;
}

#editorModeWrapper {
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

#saveLevelWrapper {
  text-align: center;
}

#objectTabs {
  width: 720px;
  margin: 20px auto;
}

#saveLevelSubmit {
  width: 200px;
  height: 30px;
}

#gameObjectsWrapper {
  margin-top: 20px;
}

.gameObjectGroup {
  margin-top: 10px;
}

.gameObjectGroup table {
  width: 100%;
  margin-top: 10px;
  border-collapse:collapse;
}

.gameObjectGroup tr {
  width: 100%;
}

.gameObjectGroup td {
  vertical-align: middle;
  width: 25%;
}

.gameObject {
  border: 1px solid #e0e0e0;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.gameObjectImage {
  cursor: move;
}

.gameObject:hover {
  background-color: #9999FF;
}

.gameObject .selected {
  background-color: #3333FF
}

.gameObjectName {
  font-weight: bold;
}

.iphone4 {
  background-image:url('../images/iphone4.png');
  width: 610px; /*739px - 129px */
  padding-left: 129px;
  padding-top: 35px;
  height: 348px; /*383px - 35px*/
  margin: 0 auto;
}

li.listingObject {
  font-size: 11pt;
  color: black;
  cursor: pointer;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 2px;
}

li.listingObject.selected {
  font-size: 11pt;
  background-color: #3333FF;
  color: white;
}

li.listingObject:hover {
  background-color: #d0d0d0;
}

#levelSaves {
  font-size: 8pt;
}

#levelSaves .name {
  font-weight: bold;
}

.loader {
  background-image: url("/images/pacman_loader.gif");
  width: 24px;
  height: 24px;
  margin: 10px auto;
}
